#section_four {
	width:100%;
	display: flex;
}


.sec_four_left {
	width:55%;
	background: url(#{$themePath}images/test-ny-img-desktop.jpg) top center no-repeat;
	background-size:cover;
	height:1267px;
	display: flex;
	justify-content: center;

	.sec_four_content {
		margin-top:118px;
		
		span.large_header {
			color:#fff;
			font-size:176px;
			font-family: $questrabold;
			display: block;
			max-width: 525px;
			span {
				display: block;
			}
			span:nth-of-type(1) {
				
			}
			span:nth-of-type(2) {
				margin-top:-60px;
			}
			span:nth-of-type(3) {
				margin-top:-25px;
			}
			span:nth-of-type(4) {
				margin-top:-50px;
			}
		}
	}
}


a.testimonial_button {
	background: #fff;
	display: inline-block;
	color:$bluelight;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $gothicdemicondensed;
	font-size: 16px;
	padding:28px 35px 23px;
	letter-spacing: 4px;
	transition: all .2s ease-in-out;
	margin-top:90px;
	&:hover {
		background: $bluelight;
		color:#fff;
	}
}

.sec_four_right {
	width:45%;
	background: $bluelight;
	text-align: center;
	overflow: hidden;
	position: relative;
	padding:0 45px;
}


.testimonial_title_wrapper {
	margin-top:65px;
	span.testimonial_title {
		display: block;
		font-family: $gothicdemicondensed;
		color:#fff;
		text-transform: uppercase;
		font-size:20px;
		letter-spacing: 19px;
		margin-top:-183px;
		padding-left:19px;
	}
}



svg#ny {
	width:335px;
	height: 360px;
}


.testimonial_slideshow {
	margin-top:233px;
	.single_testimonial_slide {
		span.large_header {
			font-size: 73px;
			color:$bluedark;
			line-height: 80px;
			font-family: $questrabold;
			max-width:700px;
			display: block;
			margin: 5px auto 33px;
		}
		.slide_content {
			color:#fff;
			font-size:20px;
			line-height: 33px;
			font-family: $gothicbook;
			display: block;
			margin-bottom:62px;
			max-width: 640px;
			margin-left:auto;
			margin-right:auto;
		}
		span.blackline {
			display: inline-block;
			background: $bluedark;
			width:25px;
			height:3px;
		}
		span.testimonial_name {
			display: block;
			margin-top:24px;
			text-transform: uppercase;
			font-size:19px;
			font-family: $gothicdemicompressed;
			letter-spacing: 6px;
			padding-left:6px;
		}
	}
	
}

.next_back_wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	.slide_button {
		width:100%;
		background:#019ae7;
		color:#fff;
		text-transform: uppercase;
		font-family: $gothicdemicompressed;
		font-size:18px;
		padding:28px 0 26px 5px;
		letter-spacing: 5px;
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			background: $bluedark;
		}
		&:first-of-type {
			border-right:1px solid #8cd1f4;
		}
	}
}



@media screen and (max-width: 1450px) {








	
.sec_four_left {
	width:46.5%;
	height: 1213px;
	.sec_four_content {
		margin-top: 155px;
		
		span.large_header {
			font-size:163px;
			
			span {
				
			}
			span:nth-of-type(1) {
				
			}
			span:nth-of-type(2) {
				
			}
			span:nth-of-type(3) {
				
			}
			span:nth-of-type(4) {
				
			}
		}
	}
}
	
	
	.sec_four_right {
		width:53.5%;
	}
	
	
	.testimonial_slideshow {
	margin-top: 190px;
	.single_testimonial_slide {
		span.large_header {
			max-width: 615px;
		}
		.slide_content {
			
		}
		span.blackline {
			
		}
		span.testimonial_name {
			
		}
	}
	
}

	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	
.sec_four_left {
	width:45.5%;
	height: 1063px;
	.sec_four_content {
			margin-top: 240px;
		span.large_header {
			font-size:138px;
			
			span {
				
			}
			span:nth-of-type(1) {
				
			}
			span:nth-of-type(2) {
				margin-top: -46px; 
			}
			span:nth-of-type(3) {
				margin-top: -10px;
			}
			span:nth-of-type(4) {
				margin-top: -40px;
			}
		}
	}
}

	a.testimonial_button {
	margin-top: 69px;
	}
	

	
.sec_four_right {
	width:54.5%;
}

.testimonial_title_wrapper {
	margin-top: 39px;
	span.testimonial_title {
		margin-top: -150px;
		letter-spacing: 17px;
	}
} 


svg#ny {
  width: 280px;
  height: 288px;
}




.testimonial_slideshow {
	 margin-top: 166px;
	.single_testimonial_slide {
		span.large_header {
			font-size: 60px;
			line-height: 72px;
		}
		.slide_content {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 39px;
		}
		span.blackline {
			
		}
		span.testimonial_name {
			
		}
	}
	
}

	
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	
	#section_four {
		display: block;
	}
	
	.sec_four_left {
		display: none;
	}
	

	
	.sec_four_right {
		width:100%;
		
	}
	
	
	
.testimonial_title_wrapper {
	margin-top: 39px;
	span.testimonial_title {
		font-size: 18px;
		margin-top: -136px;
		letter-spacing: 15px;
		padding-left:15px;
	}
}
	
	
	svg#ny {
    width: 252px;
		height: 257px;
	}
	
	
	
.testimonial_slideshow {
	 margin-top: 134px;
	 margin-bottom: 155px;
	.single_testimonial_slide {
		span.large_header {
			margin: 5px auto 27px;
		}
		.slide_content {
			max-width: 604px;
		}
		span.blackline {
			
		}
		span.testimonial_name {
			
		}
	}
	
}
	
	
	
	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	
	
.testimonial_title_wrapper {
	
	span.testimonial_title {
		font-size: 16px;
		margin-top: -105px;
		letter-spacing: 11px;
	}
}

	
	
	.sec_four_right {
		padding: 0px 20px;
	}
	
	
	
	svg#ny {
    width: 200px;
		height: 198px;
	}
	
	
	
.testimonial_slideshow {
	margin-top: 103px;
	margin-bottom: 125px;
	.single_testimonial_slide {
		span.large_header {
			font-size: 42px;
			line-height: 44px;
		}
		.slide_content {
			
		}
		span.blackline {
			
		}
		span.testimonial_name {
			font-size: 18px;
		}
	}
	
}
	
	
	
	.next_back_wrapper {
		.slide_button {
			font-size: 16px;
			letter-spacing: 4px;
			 padding: 25px 0 19px 5px;
		}
	} 
	
	
	
	
} /* Media Query */