// Dropdown Nav



#nav_overlay {
	transition: all 650ms cubic-bezier(.17,.66,.34,.98);
	transform: translateX(100%);
}


#nav_overlay.open {
	transform: translateX(0);
}


#nav_overlay.open.close {
	transform: translateX(100%);
}


.overlay_close {
	opacity: 0;
	transition: all 500ms ease-in-out;
	transition-delay: 800ms;
}


#nav_overlay.open {
	.overlay_close {
		opacity: 1;
	}
}


// Close Button






#nav_overlay.open {
	.overlay_close {
		div {
			animation-duration: 800ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 800ms;
			&:first-of-type {
				animation-name: firstx_rotate;
			}
			&:last-of-type {
				animation-name: lastx_rotate;
			}
		}
	}
}




@keyframes firstx_rotate {
  from {
    transform: rotate(0deg);
 		
  }

  to {
    
    transform: rotate(-45deg);
  }
}


@keyframes lastx_rotate {
  from {
    transform: rotate(0deg);
 		
  }

  to {
    
    transform: rotate(45deg);
  }
}





// Nav 

.nav_col ul.menu li {
	opacity: 0;
}

.nav_col ul.menu>li:after {
	color:$bluelight;
	
}


#nav_overlay.open {
	.nav_col ul.menu>li {
		&:hover {
				&:after {
					color:$bluelight;
				}
			}
		&:after {
			animation-name: number_change;
			animation-duration: 800ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			&:hover {
				color:$bluelight;
			}
		}
		
		&:nth-of-type(1) {
			&:after {
				animation-delay: 1400ms;
			}
		}
		&:nth-of-type(2) {
			&:after {
				animation-delay: 1500ms;
			}
		}
		&:nth-of-type(3) {
			&:after {
				animation-delay: 1600ms;
			}
		}
		&:nth-of-type(4) {
			&:after {
				animation-delay: 1700ms;
			}
		}
		&:nth-of-type(5) {
			&:after {
				animation-delay: 1800ms;
			}
		}
		&:nth-of-type(6) {
			&:after {
				animation-delay: 1900ms;
			}
		}
		&:nth-of-type(7) {
			&:after {
				animation-delay: 2000ms;
			}
		}
		&:nth-of-type(8) {
			&:after {
				animation-delay: 2100ms;
			}
		}
		&:nth-of-type(9) {
			&:after {
				animation-delay: 2200ms;
			}
		}
		&:nth-of-type(10) {
			&:after {
				animation-delay: 2300ms;
			}
		}
		&:nth-of-type(11) {
			&:after {
				animation-delay: 2400ms;
			}
		}
		&:nth-of-type(12) {
			&:after {
				animation-delay: 2500ms;
			}
		}
	}
}


@keyframes number_fade {
  from {
    opacity: 0;
 	}
 	to {
   opacity: 1;
  }
}


@keyframes number_change {
  from {
    color:$bluelight;
 	}
 	to {
   color:#9e9e9e;
  }
}

@keyframes number_move {
  from {
    // transform: translateY(-3px);
 	}
 	to {
   // transform: translateY(0px);
  }
}




#nav_overlay.open {
	.nav_col ul.menu li {
		animation-name: bullet_fade, bullet_move;
		animation-duration: 800ms, 1000ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		&:nth-of-type(1) {
			animation-delay: 800ms;
		}
		&:nth-of-type(2) {
			animation-delay: 850ms;
		}
		&:nth-of-type(3) {
			animation-delay: 900ms;
		}
		&:nth-of-type(4) {
			animation-delay: 950ms;
		}
		&:nth-of-type(5) {
			animation-delay: 1000ms;
		}
		&:nth-of-type(6) {
			animation-delay: 1050ms;
		}
		&:nth-of-type(7) {
			animation-delay: 1100ms;
		}
		&:nth-of-type(8) {
			animation-delay: 1150ms;
		}
		&:nth-of-type(9) {
			animation-delay: 1200ms;
		}
		&:nth-of-type(10) {
			animation-delay: 1250ms;
		}
		&:nth-of-type(11) {
			animation-delay: 1300ms;
		}
		&:nth-of-type(12) {
			animation-delay: 1350ms;
		}
	}
}

@keyframes bullet_fade {
  from {
    opacity: 0;
 	}
 	to {
   opacity: 1;
  }
}



@keyframes bullet_move {
  from {
    transform: translateX(-55px);
 	}
 	to {
   	transform: translateX(0px);
  }
}

.nav_col {
	.sub_menu_container {
		ul.sub-menu {
			li {
				opacity: 0;
				// visibility: hidden;
			}
			
		}
	}
}

#nav_overlay.open {
	ul.sub-menu.open {
		> li {
			animation-name: bullet_fade, bullet_move;
			animation-duration: 800ms, 1000ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			&:nth-of-type(1) {
				animation-delay: 100ms;
			}
			&:nth-of-type(2) {
				animation-delay: 150ms;
			}
			&:nth-of-type(3) {
				animation-delay: 200ms;
			}
			&:nth-of-type(4) {
				animation-delay: 250ms;
			}
			&:nth-of-type(5) {
				animation-delay: 300ms;
			}
			&:nth-of-type(6) {
				animation-delay: 350ms;
			}
			&:nth-of-type(7) {
				animation-delay: 400ms;
			}
			&:nth-of-type(8) {
				animation-delay: 450ms;
			}
			&:nth-of-type(9) {
				animation-delay: 500ms;
			}
			&:nth-of-type(10) {
				animation-delay: 550ms;
			}
			&:nth-of-type(11) {
				animation-delay: 600ms;
			}
			&:nth-of-type(12) {
				animation-delay: 650ms;
			}
		}
	}
}



@keyframes submenu_fade {
  from {
    opacity: 0;
 		visibility: hidden;
 	}

  to {
    opacity: 1;
   visibility: visible;
  }
}



/*
.nav_col.hide {
		animation-name: nav_col_fade;
	  animation-duration: 500ms;
	  animation-fill-mode: both;
	  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
	  
	}
	
	.nav_col.show {
		
		display: block;
		
		animation-name: nav_col_show;
	  animation-duration: 1400ms;
	  animation-fill-mode: both;
	  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
	  animation-delay: 1s;
		
		
	}
	
	
	
	
	
	
	
	@keyframes nav_col_fade {
	  from {
	    opacity: 1;
	 		
	 		
	  }
	
	  to {
	    opacity: 0;
	   
	    
	  }
	}
	
	
	@keyframes nav_col_show {
	  from {
	    opacity: 0;
	 		
	 		
	  }
	
	  to {
	    opacity: 1;
	   
	    
	  }
	}
	
	
*/



// form overlay




.sticky_form_overlay {
	
	
	transition: all 650ms cubic-bezier(.17,.66,.34,.98);
	transform: translateX(100%);
	
}


.sticky_form_overlay.open {
	transform: translateX(0%);
}



@media screen and (min-width: 1600px) {

	
// section one


body.page-template-page-home {

.logo {
	opacity: 0;
	
	animation-name: fade, logo_move;
  animation-duration: 900ms, 1100ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier();
  animation-delay: 1s;
}



@keyframes fade {
  from {
    opacity: 0;
 		visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
    
  }
}



@keyframes logo_move {
  from {
    transform: translateX(-20px);
  }

  to {
     transform: translateX(0px);
    
  }
}




span.line_one,span.line_two, span.third_line_height {
	opacity: 0;
	display: inline-block;
}


span.line_one {
	animation-name: fade, title_move;
  animation-duration: 900ms, 2200ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 1s;
}


span.line_two {
	animation-name: fade,title_move;
  animation-duration: 900ms, 2200ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 1.5s;
}



span.third_line_height {
	animation-name: fade, title_move;
  animation-duration: 900ms, 2000ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 2s;
 }


@keyframes title_move {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0px);
   }
}


span.get_started_button {
	opacity: 0;
	
	animation-name: fade;
  animation-duration: 1100ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-delay: 2.5s;
}



@keyframes button_move {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0px);
   }
}



// Menu


.menu_wrapper {
	animation-name: menu_move;
  animation-duration: 1200ms;
  animation-fill-mode: both;
  animation-timing-function:cubic-bezier(.17,.66,.34,.98);
  animation-delay: 1s;
}


@keyframes menu_move {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0px);
   }
}


.menu_prompt {
	span.menu_bars, span.menu_title {
		opacity: 0;
		animation-name: fade, bar_move;
		animation-duration: 400ms, 800ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		&:nth-of-type(1) {
			animation-delay: 1.8s;
		}
		&:nth-of-type(2) {
			animation-delay: 2s;
		}
		&:nth-of-type(3) {
			animation-delay: 2.2s;
		}
	}
	span.menu_title {
		animation-delay: 2.4s;
	}
}



@keyframes bar_move {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateY(0px);
   }
}




.phone_wrapper a {
	opacity: 0;
	display: block;
	
	animation-name: fade, tel_move;
  animation-duration: 900ms, 1100ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay:1.8s;
}


@keyframes tel_move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
   }
}

}


.selling_points {
	opacity: 0;
	
	animation-name: fade, selling_points_move;
  animation-duration: 900ms, 1100ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 1s;
}



@keyframes selling_points_move {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0px);
   }
}


.section_two_img_wrapper {
	opacity: 0;
	overflow: hidden;
}

#section_two.visible .section_two_img_wrapper {
	animation-name: fade, image_wrapper_move;
  animation-duration: 900ms, 2000ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 0.5s;
  img.section_two_img {
	  
	  animation-name: image_scale;
		animation-duration:2000ms;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(.17,.66,.34,.98);
		animation-delay: 0.5s;
  }
}


@keyframes image_wrapper_move {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0px);
   }
}


@keyframes image_scale {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
   }
}


// SVG Brooklyn




svg#brooklyn {
	opacity: 0;
	
	
	}



#section_three.visible {
	svg#brooklyn {
		animation-name: fade, svg_move;
		animation-duration: 500ms, 1800ms;
		animation-fill-mode: both;
		animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
	}
}



@keyframes svg_move {
  from {
    transform: translateX(300px) rotate(40deg);;
 	}

  to {
   transform: translateX(0px) rotate(0deg);;
   }
}











// section four

	span.sec_four_line_one, span.sec_four_line_two, span.sec_four_line_three, span.sec_four_line_four {
		opacity: 0;
	} 
	
	





#section_four.visible {
	span.sec_four_line_one {
		animation-name: fade, title_move;
		animation-duration: 900ms, 2200ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 0.75s;
	}
	span.sec_four_line_two {
		animation-name: fade, title_move;
		animation-duration: 900ms, 2200ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 1.25s;
	}
	span.sec_four_line_three {
		animation-name: fade, title_move;
		animation-duration: 900ms, 2200ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 1.5s;
	}
	span.sec_four_line_four {
		animation-name: fade, title_move;
		animation-duration: 900ms, 2200ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 1.75s;
	}
}



.sec_four_left {
	position: relative;
	overflow: hidden;
	&:before {
		content:"";
		position: absolute;
		background: url(#{$themePath}images/test-ny-img-desktop.jpg);
		background-size:cover;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: block;
		transform: scale(1.5);
	}
}



.sec_four_content {
	position: relative;
	z-index: 5;
}



#section_four.visible {
	.sec_four_left {
		&:before {
			animation-name:scale_move;
			animation-duration: 2100ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 500ms;
		}
	}
}


@keyframes scale_move {
  from {
    transform: scale(1.5, 1.5);
 	}

  to {
   transform: scale(1,1);
   }
}


.testimonial_button {
	opacity: 0;
}


#section_four.visible {
	.testimonial_button {
		animation-name: fade, title_move;
		animation-duration: 900ms, 2200ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 2s;
	}
}



svg#ny {
	opacity: 0;
}


#section_four.visible {
	svg#ny {
		animation-name: fade, ny_move;
		animation-duration: 900ms, 1800ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
	}
}


@keyframes ny_move {
  from {
    transform:  translateY(-60px);
 	}

  to {
   transform:  translateY(0px);
   
   }
}



.testimonial_title_wrapper {
	span.testimonial_title {
		z-index:5;
		position: relative;
		opacity: 0;
	}
}



#section_four.visible {
	.testimonial_title_wrapper {
		span.testimonial_title {
			animation-name: fade, testi_title_move;
			animation-duration: 900ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		}
	}
}



@keyframes testi_title_move {
  from {
    transform:  translateY(40px);
 	}

  to {
   transform:  translateY(0px);
   
   }
}



// section six 



.sec_six_title_wrapper {
	position: relative;
	z-index: 5;
}

.sec_six_att_wrapper {
	overflow: hidden;
	position: relative;
	&:before {
		content:"";
		width:100%;
		height:100%;
		top:0;
		left:0;
		position: absolute;
		background: url(#{$themePath}images/attorney-paul-schlemmer-desktop.jpg);
		background-size: cover;
		transform: scale(1.2, 1.2);
	}
}


#section_six.visible {
	.sec_six_att_wrapper {
		&:before {
			content:"";
			animation-name: att_scale;
			animation-duration: 2200ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
		}
	}
}


@keyframes att_scale {
  from {
    transform: scale(1.2, 1.2);
 	}

  to {
   transform: scale(1,1);
   }
}



.sec_six_content_wrapper {
	span.small_header {
		opacity: 0;
	}
	span.large_header {
		opacity: 0;
	}
}


#section_six.visible {
	.sec_six_content_wrapper {
		span.small_header {
			animation-name: fade, att_small_title_move;
			animation-duration: 900ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		}
		span.large_header {
			animation-name: fade, att_large_title_move;
			animation-duration: 900ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		}
	}
}


@keyframes att_small_title_move {
  from {
    transform: translateX(-55px);
 	}

  to {
   transform: translateX(0px);
   }
}


@keyframes att_large_title_move {
  from {
    transform: translateX(75px);
 	}

  to {
   transform: translateX(0px);
   }
}




// footer form


#footer_trigger svg#bridge {
	opacity: 0;
}


#footer_trigger.visible {
	svg#bridge {
		animation-name: fade, ny_move;
		animation-duration: 900ms, 1800ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
	}
}


.sticky_form_overlay {
	.sticky_overlay_close {
		div {
			&:first-of-type {
				transform: rotate(0);
			}
			&:last-of-type {
				transform: rotate(0);
			}
		}
	}
} 


.sticky_form_overlay.open {
	.sticky_overlay_close {
		div {
			animation-duration: 800ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 800ms;
			&:first-of-type {
				animation-name: firstx_rotate;
			}
			&:last-of-type {
				animation-name: lastx_rotate;
			}
		}
	}
} 




/*
.sticky_form_overlay.open {
	.sticky_overlay_close { 
	.overlay_close {
		div {
			animation-duration: 800ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 800ms;
			&:first-of-type {
				animation-name: firstx_rotate;
			}
			&:last-of-type {
				animation-name: lastx_rotate;
			}
		}
	}
	}
}
*/








.sticky_form_overlay.open {
	svg#bridge {
		opacity: 0;
	}
	span.get_started {
		position: relative;
		z-index:5;
		opacity: 0;
	}
	span.required {
		opacity: 0;
	}
}



.sticky_form_overlay.open {
	svg#bridge {
		animation-name: fade, ny_move;
		animation-duration: 900ms, 1800ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-direction: 2s;
	}
	
	span.get_started {
		animation-name: fade;
		animation-duration: 900ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 1s;
	}
	
	span.required {
		animation-name: fade;
		animation-duration: 900ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 1s;
	}
	
	
}






#footer_trigger #form_section {
	span.get_started {
		position: relative;
		z-index:5;
		opacity: 0;
		
	}
	span.required {
		opacity: 0;
	}
} 


#footer_trigger.visible {
	span.get_started {
		animation-name: fade;
		animation-duration: 900ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 0.5ms;
	}
	span.required {
		animation-name: fade;
		animation-duration: 900ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 0.5ms;
	}
}





// location section

body.page-template-page-home {


.address_image {
	position: relative;
	overflow: hidden;
	&:before {
		content:"";
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: url(#{$themePath}images/footer-subway-img-desktop.jpg) top center no-repeat;
		background-size: cover;
		transform: scale(1.3,1.3);
	}
}

#location_section.visible {
	.address_image {
		&:before {
			animation-name: location_scale;
			animation-duration: 2200ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 0.5ms;
		}
	}
}

}




@keyframes location_scale {
  from {
    transform: scale(1.3,1.3);
 	}

  to {
   transform: scale(1,1);
   }
}




body:not(.page-template-page-home) {
	
	.address_image {
		svg#brooklyn {
			opacity: 0;
		}
	}
	
	
	#location_section.visible {
		.address_image {
			svg#brooklyn {
				animation-name: brooklyn_fade, svg_move;
				animation-duration: 500ms, 1800ms;
				animation-fill-mode: both;
				animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
@keyframes brooklyn_fade {
  from {
    opacity: 0;
 	}

  to {
   opacity: 0.3;
   }
}

	
	
	
}




// about internal



.int_about_pic {
	overflow: hidden;
	opacity: 0;
	img {
		transform: scale(1.4,1.4);
	}
}


.int_about_pic.ready {
	animation-name: fade, about_move;
	animation-duration: 500ms, 1800ms;
	animation-fill-mode: both;
	animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
	img {
		animation-name:about_scale;
		animation-duration:1800ms;
		animation-fill-mode: both;
		animation-timing-function:cubic-bezier(.17,.66,.34,.98);
	}
}


@keyframes about_move {
  from {
    transform: translateY(-95px);
 	}

  to {
   transform: translateY(0px);
   }
}


@keyframes about_scale {
  from {
    transform: scale(1.2,1.2);
 	}

  to {
   transform: scale(1,1);
   }
}



body.page-template-page-about {
	
	
	#second_about_trigger {
		svg#brooklyn {
			opacity: 0;
		}
	}
	
	
	#second_about_trigger.visible {
		svg#brooklyn {
			animation-name: bro_fade, svg_about_move;
			animation-duration: 500ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	@keyframes svg_about_move {
  	from {
    	transform: translateX(-100px) rotate(-55deg);
			}

			to {
			transform: translateX(0px) rotate(-35deg);
   	}
	}
	
	
	
	@keyframes bro_fade {
  	from {
    	opacity: 0;
			}

			to {
			opacity: 0.3;
   	}
	}

	
	
	
	
	
	}
	
	
	
	

	

	.sidebar_bio {
		img {
			opacity: 0;
			animation-name: fade, bio_move;
			animation-duration: 500ms, 1000ms;
			animation-fill-mode: both;
			animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
		}
		
	}

	

	
	@keyframes bio_move {
  	from {
    	transform: translateY(-50px);
			}

			to {
			transform: translateY(0px);
   	}
	}
	
	


} /* Media Query */




