@font-face {
    font-family: 'ITCFranklinGothicStd-Book';
    src: url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-Book.woff2') format('woff2'),
        url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '4-questa_grande_bold_31';
    src: url('#{$themePath}fonts/font-files/4-questa_grande_bold_31-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/font-files/4-questa_grande_bold_31-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCFranklinGothicStd-DmCd';
    src: url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-DmCd.woff2') format('woff2'),
        url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-DmCd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCFranklinGothicStd-Demi';
    src: url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-Demi.woff2') format('woff2'),
        url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCFranklinGothicStd-DmCp';
    src: url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-DmCp.woff2') format('woff2'),
        url('#{$themePath}fonts/font-files/ITCFranklinGothicStd-DmCp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






