footer {
	
}

#form_section {
	text-align: center;
	padding:170px 0 180px;
	span.get_started {
		color:$bluelight;
		font-family:$questrabold;
		font-size:131px;
		display: block;
		text-transform: lowercase;
		margin:-150px 0 0;
	}
	span.required {
		color:$bluedark;
		text-transform: uppercase;
		font-family: $gothicdemi;
		font-size:14px;
		letter-spacing: 3px;
		display: inline-block;
		margin-top:33px;
		letter-spacing: 4.5px;
		padding-left:4.5px;
		span,ast {
			font-size:20px;
			display: inline-block;
			margin-left:8px;
			position: relative;
			top:4px;
		}
	}
	
}


svg#bridge {
	width:440px;
	height: 218px;
	display: inline-block;
}


.form_wrapper {
	max-width:1175px;
	padding-left:75px;
	padding-right:75px;
	margin:140px auto 0;
	ul {
		list-style: none;
		overflow: hidden;
		li.focused {
			&:before {
				content:"";
				width:100%;
				height:7px;
				background: $bluelight;
				display: block;
				position: absolute;
				top:57px;
			}
			&:after {
				color:$bluelight;
			}
			
		}
		li#field_1_5 {
			width:100%;
			input {
				span {
					display: none;
				}
			}
		}
		li#field_1_5.focused {
			&:before {
				
				top: 187px;
			}
		}
		li {
			width:46%;
			margin-bottom:35px;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:21px;
				right:15px;
				font-size: 20px;
				font-family: $gothicdemi;
			}
			&:nth-of-type(2n + 1) {
				float:left;
			}
			&:nth-of-type(2n + 2) {
				float:right;
			}
			label {
				display: none;
			}
			input, textarea {
				border:none;
				border-bottom:3px solid #e3e3e5;
				width:100%;
				font-family: $gothicdemi;
				text-transform: uppercase;
				font-size:14px;
				letter-spacing: 4px;
				padding:20px 40px 20px 0;
				color:$bluelight;
				&:focus {
					
				}
			}
			textarea {
				height:192px;
			}
		}
		
		input:focus::-webkit-input-placeholder {
			color:$bluelight;
		}
		
		input:focus::-moz-placeholder {
			color:$bluelight;
		}
		
		input:focus:-moz-placeholder {
			color:$bluelight;
		}
		
		input:focus::-ms-input-placeholder {
			color:$bluelight;
		}
		
		input:focus:-moz-placeholder {
			opacity:1;
		}
		
		
		
		
		
		
		
		
		textarea:focus::-webkit-input-placeholder {
			color:$bluelight;
		}
		
		textarea:focus::-moz-placeholder {
			color:$bluelight;
		}
		
		textarea:focus:-moz-placeholder {
			color:$bluelight;
		}
		
		textarea:focus::-ms-input-placeholder {
			color:$bluelight;
		}
		
		textarea:focus:-moz-placeholder {
			opacity:1;
		}
		
		
		::-webkit-input-placeholder {
    	color: $bluedark;
    	
    }
		::-moz-placeholder {
    	color: $bluedark;
    }
		:-moz-placeholder {
    	color: $bluedark;
   	}
	 	:-ms-input-placeholder {
    	color: $bluedark;
    }
		::-moz-placeholder {
    	opacity: 1;
    }
	}
	input[type="submit"] {
		background: $bluedark;
		color:$bluelight;
		font-size: 16px;
		text-transform: uppercase;
		font-family: $gothicdemi;
		letter-spacing: 5px;
		padding:25px 125px 20px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		margin-top:25px;
		&:hover {
			background:$bluelight;
			color:#fff;
		}
	}
	.validation_error {
		display: none;
	}
	.gfield_description, .validation_message {
		color:$bluelight;
		text-align: left;
		text-transform: uppercase;
		font-family: $gothicdemi;
		letter-spacing: 2px;
		font-size: 12px;
		margin-top:8px;
	}
}


#location_section {
	display: flex;
}

.address_wrapper {
	width:55%;
	background: url(#{$themePath}images/stardust_texture.jpg) top left repeat;
	text-align: center;
	padding:135px 0 50px;
	font-size:40px;
	font-family: $questrabold;
	line-height: 48px;
	color:#fff;
	a {
		display: block;
		text-decoration: none;
		color:#fff;
		
	}
	a.tel {
		text-transform: uppercase;
		// margin-bottom:7px;
	}
	a.address_link {
		transition: all .2s ease-in-out;
		&:hover {
			color:$bluelight;
		}
	}
	a.social {
		display: inline-block;
		margin:15px 13px 0;
		svg {
			height:30px;
			fill:#fff;
			transition: all .2s ease-in-out;
		}
		&:hover {
			svg {
				fill:$bluelight;
			}
		}
	}
	span, a {
		max-width:500px;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}

.loc_wrapper {
	margin-bottom:90px;
}


span.address_header {
	color:$bluelight;
	text-transform: uppercase;
	font-size:20px;
	font-family:$gothicdemicondensed;
	letter-spacing: 10px;
	display: block;
	margin-bottom: 18px;
}





.address_image {
	width:45%;
	background: url(#{$themePath}images/footer-subway-img-desktop.jpg) top left no-repeat;
	background-size:cover;
	
}


.copyright {
	height:93px;
	align-items: center;
	padding:0 58px;
	display: flex;
	justify-content: space-between;
	ul {
		list-style: none;
		margin:0;
		li:last-of-type {
			&:after {
				display: none;
			}
		}
		li {
			display:inline-block;
			color:#1b1d2d;
			font-size:12px;
			font-family: $gothicdemicompressed;
			text-transform: uppercase;
			letter-spacing: 1.8px;
			&:after {
				content:"|";
				display: inline-block;
				margin:0 10px;
			}
			a {
				color:#1b1d2d;
				text-decoration: none;
				transition: all .2s ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
	}
}


a.ilawyer_marketing {
	display: block;
	width:240px;
	height: 19px;
	img {
		max-width: 100%;
		height:auto;
	}
}

@media screen and (max-width: 1450px) {
	
	
	.address_wrapper {
		 width: 58%;
	}
	
	.address_image {
		width:42%;
	}
	
	#form_section {
    padding: 122px 0 150px;
	}
	
	.form_wrapper {
    margin: 118px auto 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	
	
	
#form_section {
	padding: 56px 0 100px;
	span.get_started {
		font-size:105px;
		margin: -140px 0 0;
	}
	span.required {
		margin-top: 50px;
		span,ast {
			
		}
	}
	
}

	
	
	
	
	
	
.form_wrapper {
	margin:87px 0 0;
	ul {
		
		li.focused {
			&:before {
				
			}
			&:after {
				
			}
			
		}
		li#field_1_5 {
			
			input {
				span {
				
				}
			}
		}
		li#field_1_5.focused {
			&:before {
				
			
			}
		}
		li {
			
			&:after {
				
			}
			&:nth-of-type(2n + 1) {
				
			}
			&:nth-of-type(2n + 2) {
			
			}
			label {
			
			}
			input, textarea {
				
				&:focus {
					
				}
			}
			textarea {
				height:164px;
			}
		}
		
	}
	input[type="submit"] {
		
		&:hover {
			
		}
	}
	.validation_error {
		
	}
	.gfield_description, .validation_message {
		
	}
}



	
	
	
	
	.address_wrapper {
		width: 53%;
		padding: 90px 0 50px;
		font-size:36px;
		line-height: 48px;
		a {
			max-width: 437px;
		}
	}
	
	
	.address_image {
		width:47%;
	}
	    
	
	.loc_wrapper {
    margin-bottom: 69px;
	}
	
	
	span.address_header {
		margin-bottom: 12px;
	}



	
} /* Media Query */


@media screen and (max-width: 1060px) {
	
	
	.copyright {
		padding: 0 26px;
	}
	
	
	
	svg#bridge {
		width:358px;
		height: 218px;
	
	}
	
	
.form_wrapper {
	margin:60px 0 0;
	ul {
		
		li.focused {
			&:before {
				top:53px;
			}
			&:after {
				
			}
			
		}
		li#field_1_5 {
			
			input {
				span {
				
				}
			}
		}
		li#field_1_5.focused {
			&:before {
				top:135px;
			}
		}
		li {
			
			&:after {
				
			}
			&:nth-of-type(2n + 1) {
				
			}
			&:nth-of-type(2n + 2) {
			
			}
			label {
			
			}
			input, textarea {
				font-size:12px;
				&:focus {
					
				}
			}
			textarea {
				height: 139px;
			}
		}
		
	}
	input[type="submit"] {
		
		&:hover {
			
		}
	}
	.validation_error {
		
	}
	.gfield_description, .validation_message {
		
	}
}

	
	
	
#form_section {
	padding: 36px 0 100px;
	span.get_started {
		font-size:90px;
	}
	span.required {
		font-size: 12px;
		margin-top: 35px;
		span,ast {
			
		}
	}
	
}

.address_wrapper {
	width:100%;
	padding: 77px 0 30px;
	line-height: 42px;
}
	
.address_image {
	display: none;
}


span.address_header {
	font-size: 17px;
	letter-spacing: 9px;
	margin-bottom:0;
}



	
	
	
	
	
} /* Media Query */





@media screen and (max-width: 860px) {
	
	
	
	
	
	.copyright {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height:auto;
		padding-top:15px;
		padding-bottom:15px;
		ul {
			text-align: center;
			max-width:300px;
			li {
				line-height: 10px;
				&:first-of-type {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	
	a.ilawyer_marketing {
		margin-top:10px
	}
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	


.address_wrapper {
	font-size:25px;
	line-height: 29px;
	padding: 55px 0 30px;
	a {
		max-width: 307px;
	}
	a.social {
		svg {
			height: 25px;
		}
	}
	
}



span.address_header {
	font-size: 15px;
	letter-spacing: 8px;
}







.form_wrapper {
  margin: 31px 0 0;
}


	
	
	svg#bridge {
		width: 215px;
    height: 115px;
	}
	
	
	
#form_section {
	padding: 36px 0 73px;
	span.get_started {
		font-size:41px;
		margin-top:-70px;
		
	}
	span.required {
		
		span,ast {
			
		}
	}
	
}



.form_wrapper {
	padding-left: 35px;
  padding-right: 35px;
  margin: 39px 0 0;
	ul {
		
		li.focused {
			&:before {
				top:45px;
			}
			&:after {
				
			}
			
		}
		li#field_1_5 {
			
			input {
				span {
				
				}
			}
		}
		li#field_1_5.focused {
			&:before {
				top: 132px;
			}
		}
		li {
			width:100%;
			margin-bottom: 26px;
			&:after {
				
			}
			&:nth-of-type(2n + 1) {
				float:none;
			}
			&:nth-of-type(2n + 2) {
				float:none;
			}
			label {
			
			}
			input, textarea {
				
				&:focus {
					
				}
			}
			textarea {
				height: 135px;
			}
		}
		
	}
	input[type="submit"] {
		margin-top: 10px;
		padding: 22px 125px 17px;
		&:hover {
			
		}
	}
	.validation_error {
		
	}
	.gfield_description, .validation_message {
		
	}
}


.loc_wrapper {
  margin-bottom: 39px;
}






	
} /* Media Query */





