
body.page-template-page-results {
	.container {
		background: url(#{$themePath}images/wavy_line_patterns.jpg) top left;
	}
}





.results_wrapper {
	width:100%;
	text-align: center;
	margin:0px auto;
	padding:120px 0;
	max-width:1710px;
	display: flex;
	flex-wrap:wrap;
}

.single_case_result {
	margin-bottom:150px;
	width:33.333333%;
	span {
		display: block;
	}
	span.case_number {
		color:$bluelight;
		font-family: $questrabold;
		font-size:100px;
		&:after {
			content:"";
			width:27px;
			height:3px;
			background: $bluedark;
			display: block;
			transform: rotate(-60deg);
			margin:43px auto 43px;
		}
	}
	span.case_type {
		color:$bluelight;
		text-transform: uppercase;
		font-family: $gothicdemicondensed;
		font-size: 20px;
		letter-spacing: 15px;
	}
	span.case_name {
		text-transform: uppercase;
		font-size:25px;
		font-family: $questrabold;
		letter-spacing: 6px;
		margin-top:17px;
	}
}