.int_contact_wrapper {
	margin:140px 0 0;
	h1 {
		color:$bluelight;
		font-family: $questrabold;
		text-transform: uppercase;
		font-size:189px;
		letter-spacing: 6px;
		margin-left:4%;
	}
}


body.page-template-page-contact {
	.container {
		padding:0;
	}
}


.int_contact_bottom {
	background: url(#{$themePath}images/stardust_texture.jpg) top left repeat;
	margin:60px 0 0;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.int_map {
	width:795px;
	height:1130px;
	position: relative;
	float:right;
	margin-right:73px;
	iframe {
		width:100%;
		height:100%;
		position: absolute;
		top:-225px;
		left:0;
	}
}


.int_addess {
	float:left;
	width: calc(100% - 868px);
	text-align: center;
	padding: 113px 0 50px;
	font-size:40px;
	font-family: $questrabold;
	line-height: 48px;
	color:#fff;
	.loc_wrapper {
		margin-bottom: 68px;
		span.address_header {
			color:$bluelight;
			text-transform: uppercase;
			font-size:20px;
			font-family:$gothicdemicondensed;
			letter-spacing: 10px;
			display: block;
			margin-bottom: 18px;
		}
		a {
		display: block;
		text-decoration: none;
		color:#fff;
		
	}
	a.tel {
		text-transform: uppercase;
		// margin-bottom:7px;
	}
	a.address_link {
		transition: all .2s ease-in-out;
		&:hover {
			color:$bluelight;
		}
	}
	a.social {
		display: inline-block;
		margin:15px 13px 0;
		svg {
			height:30px;
			fill:#fff;
			transition: all .2s ease-in-out;
		}
		&:hover {
			svg {
				fill:$bluelight;
			}
		}
	}
	span, a {
		max-width:500px;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
	a.get_directions_button {
		background: $bluelight;
		display: inline-block;
		font-size: 18px;
		text-transform: uppercase;
		font-size:18px;
		font-family: $gothicdemi;
		letter-spacing: 6.5px;
		line-height: 1;
		padding:28px 50px 22px;
		transition: all .2s ease-in-out;
		margin-top:35px;
		&:hover {
			background: #fff;
			color:$bluelight;
		}
		
	}
	}
}




body.page-template-page-contact {
	#location_section {
		display: none;
	}
	.copyright {
		background: $bluedark;
		ul {
			li {
				color:#fff;
				a {
					color:#fff;
				}
			}
		}
	}
	a.ilawyer_marketing {
		svg {
			.ilawyer-cls-1{
				fill:#fff;
			}
		}
	}
}



@media screen and (max-width: 1870px) {
	
	
.int_contact_wrapper {
	
	h1 {
		
		font-size:8vw;
		
		
	}
}
	
	
	
} /* Media Query */




@media screen and (max-width: 1530px) {
	
	
	.int_contact_wrapper {
	
	h1 {
		
		font-size:7vw;
		
		
	}
}
	
	
	
	
	
	
	.int_addess {
		width: calc(100% - 773px);
	}
	
	
	
	
	.int_map {
		width:700px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1315px) {
	
	
	
		.int_contact_wrapper {
			h1 {
				font-size:8vw;
			}
		}
	
	
	
	
	.int_addess {
		width: calc(100% - 573px);
	}
	
	
	
	.int_map {
		width:500px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1120px) {
	
	
	
	
	.int_map {
		margin-right: 41px;
	}
	
	
	
	
	
} /* Media Query */





@media screen and (max-width: 1060px) {
	
	
	.int_contact_wrapper {
		  margin: 68px 0 0;
			h1 {
				font-size:52px;
				margin:0;
				text-align: center;
			}
		}
	
	
	
	
	
.int_addess {
	font-size: 35px;
	line-height: 42px;
	padding: 78px 0 50px;
	width:100%;
	float:none;
	.loc_wrapper {
		margin-bottom: 54px;
		span.address_header {
			font-size:17px;
			margin-bottom: 2px;
		}
		a {
		
		
	}
	a.tel {
		
	}
	a.address_link {
		
		&:hover {
			
		}
	}
	a.social {
		
		svg {
			
		}
		&:hover {
			svg {
				
			}
		}
	}
	span, a {
		max-width: 439px;
	}
	a.get_directions_button {
		font-size: 14px;
		 letter-spacing: 4px;
		 padding: 28px 37px 22px;
		&:hover {
			
		}
		
	}
	}
}


	
	.int_map {
		margin-right: 0px;
		margin-top:0;
		height:500px;
		width:100%;
		float:none;
		iframe {
			margin:0;
			top:0;
		}
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
	.int_contact_wrapper {
		  margin: 38px 0 0;
			h1 {
				font-size:35px;
				letter-spacing: 4px;
			}
		}
	
	
.int_contact_bottom {
   margin: 39px 0 0;
}	
	



	
.int_addess {
	font-size: 25px;
	line-height: 29px;
	padding: 51px 0 20px;
	.loc_wrapper {
		margin-bottom: 41px;
		span.address_header {
			font-size: 15px;
			 letter-spacing: 8px;
		}
		a {
		
		
	}
	a.tel {
		
	}
	a.address_link {
		
		&:hover {
			
		}
	}
	a.social {
		margin: 15px 11px 0;
		svg {
			height: 27px;
		}
		&:hover {
			svg {
				
			}
		}
	}
	span, a {
	  max-width: 309px;
	}
	a.get_directions_button {
		letter-spacing: 3px;
		font-size:13px;
		 padding: 21px 24px 18px;
		&:hover {
			
		}
		
	}
	}
}

	
	
	
	
	
	
	
	
	
} /* Media Query */