.int_contact_wrapper {
	margin:140px 0 0;
	h1 {
		color:$bluelight;
		font-family: $questrabold;
		text-transform: uppercase;
		font-size:189px;
		letter-spacing: 6px;
	}
}





body.page-template-page-contact {
	#location_section {
		display: none;
	}
	.copyright {
		background: $bluedark;
		ul {
			li {
				color:#fff;
				a {
					color:#fff;
				}
			}
		}
	}
	a.ilawyer_marketing {
		svg {
			.ilawyer-cls-1{
				fill:#fff;
			}
		}
	}
}