.bio_wrapper {
	max-width:1615px;
	margin:122px auto 120px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.sidebar_bio {
	width:537px;
	float:left;
	
	img.bio_pic {
		margin-bottom:70px;
	}
}


.bio_list {
	padding-left:23px;
	margin-bottom:70px;
	max-width:410px;
	span.bio_list_title {
		font-family: $questrabold;
		color:#0a1727;
		font-size: 40px;
		text-transform: lowercase;
		display: block;
		position: relative;
		&:before {
			content:"";
			width:27px;
			height:3px;
			display: block;
			transform: rotate(-60deg);
			display: inline-block;
			background: $bluelight;
			position: relative;
			top:-10px;
			margin-right: 8px;
		}
	}
	a.mail {
		text-decoration: none;
		text-transform: lowercase;
		color:$bluelight;
		font-family: $gothicbook;
		font-weight: bold;
		letter-spacing: 1.6px;
		display: inline-block;
		margin:32px 0 0 25px;
		transition: all .2s ease-in-out;
		&:hover {
			color:#9e9e9e;
		}
	}
	ul {
		list-style: none;
		margin:26px 0 0;
		
		li {
			border-top:1px solid #9e9e9e;
			font-family: $gothicdemi;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 2.8px;
			padding:22px 15px 19px;
			color:$bluedark;
			
		}
		li:last-of-type {
			border-bottom:1px solid #9e9e9e;
		}
		li.awards {
			font-size:16px;
			padding:16px 15px 15px;
			text-transform: none;
			span {
				display: block;
			}
			span.year {
				color:$bluelight;
				font-family: $gothicdemicondensed;
			}
			span.award_title {
				font-family: $gothicbook;
				letter-spacing: 0;
				color:#0a1727;
				
			}
		}
	}
}





.bio_content_wrapper {
	width:calc(100% - 537px;);
	float:right;
}


.bio_content_wrapper.content {
	padding-left:7%;
	h1 {
		border-bottom: none;
		margin-top:7px;
		font-size: 80px;
		padding-bottom:0;
		margin-bottom:0;
	}
	span.bio_position {
		font-family: $questrabold;
		color:$bluelight;
		font-size: 38px;
		display: block;
		margin-top:20px;
		margin-bottom:53px;
		padding-bottom:53px;
		border-bottom:4px solid $bluelight;
	}
}