#sticky_menu {
	display: none;
}



@media screen and (max-width: 1060px) {
	
	
	
	
	#sticky_menu {
		display: block;
		width:100%;
		display: flex;
		position: fixed;
		top:0;
		left:0;
		z-index:100;
	}
	
	
	.sticky_menu_left {
		width:calc(100% - 140px);
		background: url(#{$themePath}images/stardust_texture.jpg) top left ;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:0 30px 0 25px;
	}
	
	
a.sticky_menu_logo {
	display: block;
	padding:20px 0 8px;
	img {
		width:255px;
		height: 76px;
	}
}

a.sticky_tel {
	font-family:$gothicdemicondensed;
	color:$bluelight;
	font-size:32px;
	text-decoration: none;
	letter-spacing: 1px;
}



	.menu_prompt.sticky {
		padding:23px 0 0 0;
		span.menu_title {
			margin: 14px 0 0;
		}
	}
		
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.sticky_menu_left {
		justify-content: center;
		width: calc(100% - 95px);
	}
	
	a.sticky_menu_logo {
		display: none;
	}
	
	
	a.sticky_tel {
		margin-top: 8px;
		font-size: 29px;
	}
	
	
	.menu_prompt.sticky {
		padding: 18px 0 12px;
		width: 95px;
		span.menu_bars {
			height:3px;
			margin-bottom: 6px;
			width: 43px;
		}
		span.menu_title {
			font-size: 19px;
			margin: 10px 0 0;
		}
	}
	
	
	
	
	
} /* Media Query */